<!-- <form #changePwdForm="ngForm" (ngSubmit)="changePwd(changePwdForm)">
    Who's password do you want to change : My password<input type="radio" value="true" name="option" ngModel required
        #option="ngModel"> Admin Password<input type="radio" value="false" name="option" ngModel required
        option="ngModel"><br><br>
    <div *ngIf="option?.invalid && option?.touched" [ngStyle]="{'color':'red'}">This is required field</div>
    New Password: <input type="password" name="pwd" ngModel pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,10}$"
        required #password="ngModel"><br><br>
    <div *ngIf="password?.invalid && password?.touched" [ngStyle]="{'color':'red'}">password is not valid</div>

    Confirm New Password: <input type="password" name="npwd" ngModel
        pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,10}$" required #cpassword="ngModel"> <br><br>
    <div *ngIf="cpassword?.invalid && cpassword?.touched" [ngStyle]="{'color':'red'}">password is not valid</div>
    <div *ngIf="notmatch">Password Does Not Match</div>

    <input type="submit" value="Confirm" [disabled]="!changePwdForm.valid">
</form> -->


<div class="container box mt-5">
    <div class="card-body">
        <p class=" display-6 lead ">Change password</p>
        <hr>
    </div>
    <div class="card-body">
        <div>
            <form #changePwdForm="ngForm" (ngSubmit)="changePwd(changePwdForm)">
                <p [ngStyle]="{color: 'red'}">Feild in (*) are mandatory</p>
                <div class="row">
                    <div class="col-lg-3 my-3">
                        Who's password do you want to change :
                    </div>
                    <div class="form-group col-lg-9 my-3">
                        My password<input type="radio" class="mx-2" value="true"  name="option" ngModel required #option="ngModel">
                        Admin Password<input type="radio" class="mx-2" value="false" name="option" ngModel required option="ngModel">
                        <div *ngIf="option?.invalid && option?.touched" [ngStyle]="{'color':'red'}">This is required
                            field</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 my-3">
                        New Password:
                    </div>
                    <div class="form-group col-lg-9 my-3">
                        <input type="password" name="pwd" class="form-control" ngModel pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,10}$"
                            required #password="ngModel"><br><br>
                        <div *ngIf="password?.invalid && password?.touched" [ngStyle]="{'color':'red'}">password is not
                            valid</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 my-3">
                        Confirm New Password:
                    </div>
                    <div class="form-group col-lg-9 my-3">
                        <input type="password" name="npwd" class="form-control" ngModel pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,10}$"
                            required #cpassword="ngModel"> <br><br>
                        <div *ngIf="cpassword?.invalid && cpassword?.touched" [ngStyle]="{'color':'red'}">password is
                            not valid</div>
                        <div *ngIf="notmatch" [ngStyle]="{'color':'red'}">Password Does Not Match</div>
                    </div>
                </div>




                <div class="row text-center mt-5">
                    <!-- Choose Profilepic:<input type="file" formControlName="userImage" (change)='onFileChanged($event)'><br><br>  -->
                    <input class="mybtn text-white" type="submit" value="Confirm" [disabled]="!changePwdForm.valid">
                </div>

            </form>
        </div>
    </div>




</div>